<!-- Modal page content -->
<div id="popup_modal" class="modal fade" style="display: none"
     role="dialog"
     tabindex="-1"
     aria-labelledby="modalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="popup_modal_content">
            <div class="modal-header">
                <h4>Info</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //Modal page content -->