include LICENSE.md
include README.md
include requirements.txt
recursive-include waves/core/static *
recursive-include waves/core/templates *
recursive-include waves/front/templates *
recursive-include docs *
recursive-exclude waves_core *
