coreapi==2.3.3
Django<2.0
daemons==1.3.0
django-admin-sortable2>0.6.16
django-crispy-forms==1.7.0
django-polymorphic==1.3
djangorestframework>3.6.2
inflection==0.3.1
psutil==5.4.0
pycrypto==2.6.1
python-magic==0.4.13
saga-python==0.46
setproctitle==1.1.10
six=1.11.0
swapper==1.1.0
