Django~=1.11
coreapi
daemons
django-admin-sortable2
django-environ
django-cors-headers
django-crispy-forms
django-polymorphic
djangorestframework
backports.ssl-match-hostname
# git+https://github.com/marcoooo/django-crontab#egg=django_crontab
inflection
psutil
pycrypto
python-magic
saga-python
setproctitle
six
swapper