{% extends 'waves/emails/base.html' %}

{% block subject_content %}Job submission for '{{ job.service.name }}' - your job is {{ job.get_status_display|lower }}{% endblock %}

{% block body %}
        Your block for job {{ job.title }}
    List of inputs data
    {% for out in job.input_files %}
        - {{  out.name }} {{ out.link }} # TODO implement link method in JobInput for direct linking
    {% endfor %}

    Job is supposed to run with following parameters:
    {% for out in job.input_params %}
        - {{  out.name }}
    {% endfor %}
{% endblock %}
