{% extends "waves/services/service_details.html" %}
{% load staticfiles crispy_forms_tags waves_tags %}

{% block content_main %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'wcore:service_details' service.api_name %}">
                <h3 class="panel-title">{{ service.name }} "This is my overridden detailed page"</h3>
            </a>
        </div>
        <div class="panel-body">
            {{ block.super }}
        </div>
        <div class="panel-footer">
            <span class="text-left">
                <a href="{% url 'wcore:service_details' service.api_name %}">Back to service</a>
            </span>
        </div>
    </div>
{% endblock %}