[saga]
WAVES_TEST_SSH_HOST: 127.0.0.1
WAVES_TEST_SSH_USER_ID: %USER%
WAVES_TEST_SSH_USER_PASS: passsword
WAVES_TEST_SSH_BASE_DIR: %HOMEDIR%

[sge_cluster]
WAVES_LOCAL_TEST_SGE_CELL: all
WAVES_SSH_TEST_SGE_CELL: all
WAVES_SSH_TEST_SGE_BASE_DIR: %HOMEDIR%

[ssh_key_cluster]
WAVES_SSH_KEY_USER_ID: %USER%
WAVES_SSH_KEY_PASSPHRASE: passphrase
WAVES_SSH_KEY_BASE_DIR: %HOMEDIR%
WAVES_SSH_KEY_HOST: 127.0.0.1

[slurm_cluster]
WAVES_SLURM_TEST_SSH_HOST: 127.0.0.1
WAVES_SLURM_TEST_SSH_USER_ID: %USER%
WAVES_SLURM_TEST_SSH_USER_PASS: password
WAVES_SLURM_TEST_SSH_QUEUE: queue
WAVES_SLURM_TEST_SSH_BASE_DIR: %HOMEDIR%