<div class="panel-group" id="panel-inout-{{ job.slug }}">
    {% for job_input in job.input_files.all %}
        {% if forloop.first %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse"
                   data-parent="#panel-inout-{{ job.slug }}"
                   href="#panel-input-{{ job.id }}">Job inputs</a>
            </div>
            <div id="panel-input-{{ job.id }}" class="panel-collapse">
            <div class="panel-body">
            <dl>
        {% endif %}
    <dt>
        {{ job_input.label }}</dt>
    <dd class="input_output">
        {{ job_input.value }}
        <div class="pull-right">
            <a href="{% url 'wcore:job_input' job_input.slug %}">See
                online</a>
            &nbsp;|&nbsp;
            <a href="{% url 'wcore:job_input' job_input.slug %}?export=1">
                Download File <i
                    class="glyphicon glyphicon-download-alt"></i>
            </a>
        </div>
    </dd>
    {% if forloop.last %}
        </dl>
        </div>
        </div>
        </div>
    {% endif %}
    {% endfor %}
    {% for job_input in job.input_params %}
        {% if forloop.first %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse"
                   data-parent="#panel-inout-{{ job.slug }}"
                   href="#panel-params-{{ job.id }}">Job params</a>
            </div>
            <div id="panel-params-{{ job.id }}" class="panel-collapse collapse">
            <div class="panel-body">
            <dl>
        {% endif %}
    <div>
        <dt style="display:inline-block">"{{ job_input.label }}":</dt>
        <dd style="display:inline-block" class="input_output">
            {% if job_input.type == 'select' %}
                {{ job_input.get_label_for_choice }}
            {% else %}
                {{ job_input.value }}
            {% endif %}
        </dd>
    </div>
    {% if forloop.last %}
        </dl>
        </div>
        </div>
        </div>
    {% endif %}
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title {% if not job.results_available %}collapsed{% endif %}"
               data-toggle="collapse"
               data-parent="#panel-inout-{{ job.slug }}"
               href="#panel-output-{{ job.id }}">Outputs</a>
        </div>
        <div id="panel-output-{{ job.id }}"
             class="panel-collapse {% if not job.results_available %}collapsed{% endif %}">
            <div class="panel-body">
                <dl>
                    {% for job_output in job.outputs.all %}
                        <dt>{{ job_output.name }}
                        </dt>
                        <dd class="input_output">
                            {{ job_output.value }}
                            <div class="pull-right">
                                {% if job_output.available %}
                                    {% if job_output.display_online %}
                                        <a href="{% url 'wcore:job_output' job_output.slug %}">See
                                            online</a>
                                        &nbsp;|&nbsp;
                                    {% endif %}

                                    <a href="{{ job_output.download_url }}">Download
                                        File
                                        <i class="glyphicon glyphicon-download-alt"></i></a>
                                {% else %}
                                    <p class="text-muted">
                                        <em>Not available for now</em>
                                    </p>
                                {% endif %}
                            </div>
                            {% if not forloop.last %}
                                <hr/>
                            {% endif %}
                        </dd>
                    {% empty %}
                        <dt><i>Not available for now, please wait job completion</i></dt>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse"
               data-parent="#panel-inout-{{ job.slug }}"
               href="#panel-runon-{{ job.id }}">Running configuration</a>
        </div>
        <div id="panel-runon-{{ job.id }}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Your job is currently planned to run on
                    "{{ job.submission.get_runner.name }}"</p>
                <blockquote>
                    <small>{{ job.submission.get_runner.description|safe }}</small>
                </blockquote>
            </div>
        </div>
    </div>
</div>
 