/**
WAVES backOffice dedicated css
**/

#img_footer_container {
    text-align: center;
}

#img_footer_container > div {
    width: auto; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
    /* IE fix. */
    *display: inline;
    zoom: 1;
}

#img_footer_container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.footer .content .branding {
    padding: 0px !important;
    width: auto
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

.inline-group .tabular > fieldset.module {
    background-color: inherit;
}

.aligned .vCheckboxLabel {
    display: block !important;
}

.nested-inline {
    margin-left: 10px !important;
    padding-left: 5px !important;
    border-left: 2px solid brown !important;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px; /* half width of the spinner gif */
    margin-top: -60px; /* half height of the spinner gif */
    text-align: center;
    z-index: 10000;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
}

#form_import .form-actions {
    text-align: center;
    padding-left: 0 !important;
}

#form_import.form-horizontal .controls {
    margin-left: 0 !important;
}

#popup_modal #id_tool {
    min-height: 250px;
    width:90%;
    overflow-y:auto;
    overflow-x:hidden;
}

.selector .selector-filter input[type="text"]{
    width: auto !important;
    min-width:80%
}
input[type=text] {
    width: auto;
    min-width: 178px;
}
textarea{
    width: auto;
}

span.warning{
    color: #ff851b;
    font-weight: bold;
}
span.danger{
    color: #ff4136;
    font-weight: bold;
}
span.danger{
    color: #ff4136;
    font-weight: bold;
}
span.info{
    color: #75caeb;
    font-weight: bold;
}
span.success{
    font-weight: bold;
    color: #28b62c;
}
.restricted_services .selector .selector-filter input[type="text"]{
    width:75% !important
}

.tool_import_modal{
    background: whitesmoke;

}

.loading {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: none;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: -25px 0 0 -25px;
}
