{% extends "admin/waves/change_form.html" %}
{% load i18n admin_modify admin_urls admin_static waves_tags %}

{% block object-tools-items %}
    <li>
        <a type="button" href="{% url 'admin:wcore_aparam_add' %}?for-submission={{ original.pk }}"
           target="_self"
           title="Service"
           class="btn btn-high btn-primary"
           id="add_submission_link" style="">
            Add a new param
        </a>
    </li>
    <li>
        <a type="button" href="{{ original.service.get_admin_url }}"
           target="_self"
           title="Service"
           class="btn btn-high btn-info"
           id="service_link">
            Edit Service
        </a>
    </li>
    <li>
        <a type="button" href="{{ original.service.get_admin_changelist }}"
           target="_self"
           title="Service"
           class="btn btn-high btn-info"
           id="service_list_link">
            Service's list
        </a>
    </li>
    {{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript">
        (function ($) {
            console.log("loaded")
            $(document).on('formset:added', function (event, $row, formsetName) {
                console.log("formsetName" + formsetName)
                if (formsetName == 'inputs') {
                    // Do something
                    event.stopImmediatePropagation();
                    event.stopPropagation();
                    var rel = new RelatedInlinePopup();
                    rel.popupInline($('#add_submission_link').attr('href'));
                    // $('#add_submission_link').trigger('click');
                }
            });
            var rel1 = new RelatedInlinePopup();
            rel1.findPopupResponse();
            $('fieldset.show-change-link-popup a.inlinechangelink').click(function (e) {
                var rel = new RelatedInlinePopup();
                e.preventDefault();
                rel.popupInline(e.target.href)
            });
            $(document).on('formset:removed', function (event, $row, formsetName) {
                // Row removed
            });
        })(django.jQuery);
    </script>
{% endblock %}