{% extends "admin/base.html" %}
{% load i18n waves_tags admin_static %}

{% block branding %}
    <div id="grp-admin-brand">
        <img src="{% static 'waves/logos/waves.png' %}" width="40px" id="#navbar-logo" style="float:left;"/>
        <h1 id="grp-admin-title">
            <span>
                {% if grappelli_admin_title %} {{ grappelli_admin_title }} {% else %}
                    {{ site_title|default:"WAVES ADMIN"}} {% endif %}
            </span>
        </h1>
    </div>
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
{% endblock extrastyle %}

{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="{% static 'waves/img/ico/favicon.png' %}"/>
    {{ block.super }}
{% endblock %}

