{% extends "waves/admin/change_form.html" %}
{% load i18n admin_modify admin_urls static waves_tags %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
        {% if forloop.counter == 2 %}
            {% for inline_admin_formset in inline_admin_formsets %}
                {% include inline_admin_formset.opts.template %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% endblock %}

{% block object-tools-items %}
    <li>
        <a type="button" href="{% url 'admin:core_job_changelist' %}?service__id__exact={{ original.pk }}"
           title="View online"
           class="btn btn-high btn-info"
           id="view_jobs">
            Jobs
        </a>
    </li>
    <li>
        <a type="button" href="{% url 'admin:service_export_form' original.pk %}"
           title="View online"
           class="btn btn-high btn-info"
           id="view_jobs">
            Export
        </a>
    </li>
    {% if original.runner %}
        <li>
            <a type="button" href="{% url 'admin:core_runner_change' original.runner.pk %}"
               title="View online"
               class="btn btn-high btn-info"
               id="view runner">
                Execution
            </a>
        </li>
        <li>
            <a type="button" href="{% url 'admin:service_preview' original.pk %}"
               class="btn btn-high btn-info js-popup-link" js-modal-title="Service Form Preview">
                Preview
            </a>
        </li>
        <li>
            <a type="button" href="{% url 'admin:service_test_connection' original.pk %}"
               title="Connection Test"
               class="button"
               id="test_connect">
                Test Connection
            </a>
        </li>
        {%  comment "Service Tool import needs update" %}
        {% if original.runner.adaptor.importer %}
            <li>
                <a type="button" href="{% url 'admin:service_import_form' original.pk %}"
                   title="Import from adapter"
                   class="button"
                   data-toggle="modal"
                   data-target="#popup_modal_content"
                   data-tooltip
                   id="open_import_form">
                    Add submission from adapter
                </a>
            </li>
        {% endif %}
        {% endcomment %}
    {% endif %}
{% endblock %}
