<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>
                <span class="label label-{{ job.label_class }} pull-right">{{ job.get_status_display }}</span>
                {{ job.title }}
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'wcore:job_details' unique_id=job.slug %}"> &gt; See
                Details</a></li>
            <li class="list-group-item"><em>Submitted :</em> {{ job.created }}</li>
            <li class="list-group-item"><em>Updated :</em> {{ job.updated }}</li>
            {% if request.user.is_staff %}
                <li class="list-group-item">User: {{ job.client }}</li>
            {% endif %}
        </ul>
    </div>
</div>