{% if forloop.first %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <a class="panel-title" data-toggle="collapse" data-parent="#panel-{{ title|slugify }}"
           href="#panel-element-{{ title|slugify }}">{{ title }}</a>
    </div>
    <div id="panel-element-{{ title|slugify }}" class="panel-collapse collapse {% if open %}in{% else %}out{% endif %}">
    <div class="panel-body">
{% endif %}
<blockquote>
    <small>
        {% if meta.is_url %}
            <a href="{{ meta.value }}" target="_blank">{{ meta.title }}</a>
        {% else %}
            {{ meta.value|safe }}
        {% endif %}
        {% if meta.description %}
            <br/>{{ meta.description|safe }}
        {% endif %}
    </small>
</blockquote>
{% if forloop.last %}
    </div>
    </div>
    </div>
{% endif %}
