{% extends "waves/services/service_details.html" %}
{% load staticfiles crispy_forms_tags waves_tags %}


{% block extrahead %}
    <script type="application/ld+json">
        {
            "@context": {
              "edam": "http://edamontology.org/",
              "schema": "http://schema.org/"
            },
            "@graph": {
              "@type":"schema:SoftwareApplication",
              "schema:name":"{{ service.name }}",
              "schema:softwareVersion": "{{ service.version }}",
              "schema:applicationCategory": "Science",
              "schema:applicationSubCategory": [
              {% for topic in service.topics %}
                {% if forloop.last %}
                  "edam:{{ topic }}"
                {% else %}
                  "edam:{{ topic }}",
                {% endif %}
              {% endfor %}
              ],
              "schema:featureList": [
              {% for operation in service.operations %}
                {% if forloop.last %}
                  "edam:{{ operation }}"
                {% else %}
                  "edam:{{ operation }}",
                {% endif %}
              {% endfor %}
              ],
              "schema:operatingSystem": "Linux",
              "schema:author": {
                "@type": "schema:Person",
                "schema:name": "{{ service.created_by }}"
              },
              "schema:citation": "{{ service.citations }}",
              "schema:dateModified": "{{ service.updated }}",
              "schema:dateCreated": "{{ service.created }}",
              "schema:description": "{{ service.description|safe }}"
            }
        }
    </script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    {% service_inc 'css' %}
    <link rel="stylesheet" href="{% static 'waves/css/forms.css' %}">
{% endblock %}

{% block content_main %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'wcore:service_details' service.api_name %}">
                <h3 class="panel-title">{{ service.name }} online submission</h3>
            </a>
        </div>
        <div class="panel-body">
            {% submission_form %}
        </div>
        <div class="panel-footer">
            <span class="text-left">
                <a href="{% url 'wcore:service_details' service.api_name %}">Back to service</a>
            </span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% service_inc 'js' %}
{% endblock scripts %}
