{% load crispy_forms_tags %}

{% if service.submissions_web.count > 1 %}
    <ul class="nav nav-tabs">
        {% for possible_submission in service.submissions_web.all %}
            <li role="presentation"
                class="{% if selected_submission == possible_submission %}active{% endif %}">
                <a href="#{{ possible_submission.api_name }}" data-toggle="tab">
                    {{ possible_submission.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div id="my-tab-content" class="tab-content">
    {% for form_sub in forms %}
        <div class="tab-pane {% if selected_submission == form_sub.instance %}active{% endif %}"
             id="{{ form_sub.instance.api_name }}">
            <h1>{{ form_sub.label }}</h1>
            <p>{{ form_sub.api_name }}</p>
            {% crispy form_sub %}
        </div>
    {% endfor %}
</div>