{% extends "waves/services/base.html" %}
{% load waves_tags %}

{% block content_head %}
    <div id="sec1" class="text-page">
        <div class="container">
            {% include 'waves/services/_service_head.html' with service=service %}
        </div><!-- /.container -->
    </div>
{% endblock %}
{% block content_main %}
    <div id="sec1">
        <div class="row-fluid">
            {% block colc-6 %}
                <div class="col-md-9">
                    {% block service_body %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title ">
                                    <span class="text-primary">{{ service.name }} v{{ service.version }}</span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                {{ service.description|safe }}
                                {% block service_extradescription %}
                                {% endblock %}
                                {% block job_submission_bottom %}
                                    <p class="text-right">
                                        {% online_exec_button service=service %}
                                    </p>
                                {% endblock %}
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            Last update {{ service.updated }}
                        </div>
                    {% endblock service_body %}
                </div>
            {% endblock %}
            {% block cold-3 %}
                <div class="col-md-3">
                    {% block service_cold %}
                        {% block service_extracold %}
                        {% endblock %}
                        {% block job_submission %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title ">
                                        <span class="text-primary">Online execution</span>
                                    </h3>
                                </div>
                                <div class="panel-body text-right">
                                    {% online_exec_button service=service %}
                                </div>
                            </div>
                            {% block service_staff %}
                                {% if user.is_staff %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title ">
                                                <span class="text-primary">Admin</span>
                                            </h3>
                                        </div>
                                        <div class="panel-body text-right">
                                            <a class="btn btn-warning"
                                               href="{{ service.get_admin_url }}">Service</a>
                                            <a class="btn btn-warning"
                                               href="{% url 'admin:wcore_job_changelist' %}?service__id__exact={{ service.id }}">Jobs</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    {% endblock service_cold %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
