{% extends "base_site.html" %}

{% load staticfiles %}
{% load crispy_forms_tags waves_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}


{% block splash %}
    <div class="jumbotron jumbotron-carousel corporate-jumbo">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-8">
                    <h1>{% include "_brandname.html" %}</h1>
                    <p>{{ config.WAVES_APP_VERBOSE_NAME }} - v{% get_app_version  %}</p>
                </div>
                <div class="col-md-4 col-sm-4">

                </div>
            </div>
        </div>
    </div>
{% endblock splash %}

{% block container %}
{% endblock container %}
{% block scripts %}
    {{ block.super }}
    <script language="JavaScript">
        (function () {
            $(window).scroll(function () {
                var top = $(document).scrollTop();
                $('.corporate-jumbo').css({
                    'background-position': '0px -' + (top / 3).toFixed(2) + 'px'
                });
            }).trigger('scroll');
        })();
    </script>
{% endblock %}