{% extends "waves/services/base.html" %}
{% load waves_tags %}

{% block content_main %}
    <div id="sec1" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                <h2 class="list-group-item-heading ">
                    Waves Services list
                    <p class="lead">Services currently available on this platform</p>
                </h2>
                </div>
            </div>
        </div>
    </div>
    <div id="sec2" class="text-page">
        <div class="row">
            <div class="list-group">
                {% for service in available_services %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading ">
                            <a href="{% url 'wfront:service_details' service.id %}">
                                {{ service.name }} - {{ service.version }}
                            </a>
                        </h4>
                        <p class="list-group-item-text">
                            Created
                            by: {{ service.created_by }}<br/>
                            Current Status: {{ service.get_status_display }}
                        </p>
                        <p class="list-group-item-text">
                            {{ service.short_description|default:service.description|truncatechars:200 }}</p>
                        <p class="text-right">
                            Released {{ service.created }}<br/>
                            Last update {{ service.updated }}
                        </p>
                        <div class="list-group-item-text text-right">
                            {% online_exec_button service=service %}
                            {% if user.is_staff %}
                                <a class="btn btn-warning"
                                   href="{{ service.get_admin_url }}">Admin</a>
                            {% endif %}
                        </div>
                        <hr/>
                    </div>
                {% empty %}
                    <div class="list-group-item">
                        <div class="alert alert-warning">
                            Sorry no service available online for now
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}