{% extends "waves/services/service_details.html" %}
{% load staticfiles crispy_forms_tags waves_tags %}

{% block styles %}
    {{ block.super }}
    {% service_inc 'css' %}
    <link rel="stylesheet" href="{% static 'admin/waves/css/forms.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'waves/js/services.js' %}"></script>
{% endblock scripts %}

{% block content_main %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'wfront:service_details' service.id %}">
                <h3 class="panel-title">{{ service.name }} online submission</h3>
            </a>
        </div>
        <div class="panel-body">
            {% submission_form %}
        </div>
        <div class="panel-footer">
            <span class="text-left">
                <a href="{% url 'wfront:service_details' service.id %}">Back to service</a>
            </span>
        </div>
    </div>
{% endblock %}