{% extends "base.html" %}

{% load staticfiles %}

{% block splash %}
<div id="sec1">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <div class="hgroup">
        <h1><span><strong>5</strong></span><span><strong>0</strong></span><span><strong>0</strong></span></h1>
        <h2>An error occurred rendering your page<span>Staff has been notified of this error</span></h2>
      </div>
      <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}

{% block container %}
{% endblock %}