{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags waves_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}


{% block splash %}
    <div class="jumbotron jumbotron-carousel corporate-jumbo">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-8">
                    <h1>{% include "_brandname.html" %}</h1>
                    <p>{{ config.WAVES_APP_VERBOSE_NAME }} - v{% get_app_version  %}</p>
                    <a class="btn btn-primary" href="{% url 'waves:about' %}" role="button">More info</a>
                </div>
                <div class="col-md-4 col-sm-4">

                </div>
            </div>
        </div>
    </div>
{% endblock splash %}

{% block container %}
    <!-- Benefits of the Django application -->
    <a name="about"></a>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>EASY-TOOLS</h2>
                <p>This site presents some of the capabilities issued from WAVES Web application system.<br/>
                    > Use online tools to submit jobs on our platforms<br/>
                    > Use our api (/waves/api/) once registered to gain access to services through our REST api</p>

            </div>
            <div class="col-lg-4">
                <h2>What can WAVES do ?</h2>
                <ul>
                    <li>Could run any tool (nearly), assuming it’s executable file with inputs and outputs</li>
                    <li>Launch jobs any where (virtually), locally, on cluster (over ssh or not), on any Galaxy remote
                        platform
                    </li>
                    <li>Manage your service any time from web admin</li>
                </ul>

            </div>
            <div class="col-lg-4">
                <h2>Use WAVEs for your own</h2>
                <ul>
                    <li>Easy to install, remember, it’s a standard web application</li>
                    <li>Easy to maintain, it relies on standard web components</li>
                    <li>Easy to integrate, it is designed to be reusable app</li>
                    <li>Easy to use, standard web admin for almost all needs</li>
                </ul>
                <p><a class="btn btn-primary" href="/documentation" role="button">Read the docs &raquo;</a></p>
            </div>
        </div>
    </div>

{% endblock container %}
{% block scripts %}
    {{ block.super }}
    <script language="JavaScript">
        (function () {
            $(window).scroll(function () {
                var top = $(document).scrollTop();
                $('.corporate-jumbo').css({
                    'background-position': '0px -' + (top / 3).toFixed(2) + 'px'
                });
            }).trigger('scroll');
        })();
    </script>
{% endblock %}