{% extends "waves/admin/change_form.html" %}
{% load i18n admin_modify admin_urls admin_static waves_tags %}

{% block object-tools-items %}
    <li>
        <a type="button" href="{% url 'admin:wcore_aparam_add' %}?for-submission={{ original.pk }}&_popup=1"
           title="Service" style="opacity:1"
           class="btn btn-high btn-primary related-widget-wrapper-link add-related"
           id="add_submission_input_link" style="">
            Add a new param
        </a>
    </li>
    <li>
        <a type="button" href="{{ original.service.get_admin_url }}"
           target="_self"
           title="Service"
           class="btn btn-high btn-info"
           id="service_link">
            Edit Service
        </a>
    </li>
    <li>
        <a type="button" href="{% url 'admin:service_preview' original.service.pk %}"
           class="btn btn-high btn-info js-popup-link" modal-title="Service Form Preview">
            Preview
        </a>
    </li>
    <li>
        <a type="button" href="{{ original.service.get_admin_changelist }}"
           target="_self"
           title="Service"
           class="btn btn-high btn-info"
           id="service_list_link">
            Service's list
        </a>
    </li>
    {{ block.super }}
{% endblock %}
