<!-- Modal alert content -->
<div id="modal_alert" style="display: none"
     class="modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="myAlertDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="alert_modal_content">
            <div class="modal-header">
                <h4>Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- //Modal alert content -->
